<nav class="nav-menu">
    <a href="/portifolio">Início</a>
    <a href="/portifolio/projetos">Projetos</a>
    <a href="/portifolio/servicos">Servicos</a>
    <a href="/portifolio/sobre">Sobre</a>
    <a href="/portifolio/contato">Contato</a>
</nav>
