@page "/contato"

<h1>Contato</h1>

<section class="contato-section">
    <p>Se você deseja entrar em contato para projetos, parcerias ou dúvidas, estou disponível nos canais abaixo:</p>

    <div class="contato-item-row">
        <div class="contato-info">
            <strong>WhatsApp:</strong><br />
            +55 (16) 98807-9994
        </div>
        <a href="https://wa.me/5516988079994" target="_blank" class="contato-item whatsapp">
            <i class="fab fa-whatsapp"></i> Conversar
        </a>
    </div>

    <div class="contato-item-row">
        <div class="contato-info">
            <strong>LinkedIn:</strong><br />
            /in/wesley-gonçalves-luciano-b63434100/
        </div>
        <a href="https://www.linkedin.com/in/wesley-gonçalves-luciano-b63434100/" target="_blank" class="contato-item linkedin">
            <i class="fab fa-linkedin"></i> Ver perfil
        </a>
    </div>

    <div class="contato-item-row">
        <div class="contato-info">
            <strong>Email:</strong><br />
            wesleylg01@gmail.com
        </div>
    </div>
</section>

